
body{
    font-size: 18pt;
    
    font-family: Roboto, "Franklin Gothic Medium", Tahoma, sans-serif;
    background-color: rgb(177, 37, 95);
  
}

html {
    overflow-x: hidden;
  }



.nav-link{
    font-size: 20pt;
    color: #f26f47;
    text-shadow: 7px 7px 6px rgb(0, 0, 0);   
    list-style-type: none;
    
   
}



.navbar{
    background-color: #341e82;
    max-height: 100px;
    position: relative;
   
}

#logo {
    max-height: 130px;   
    margin-bottom: 10px;
} 


h1 {
    font-size: 30pt;
    color: rgb(216, 132, 23);
    text-align: left;
    font-family: "Franklin Gothic Medium", Tahoma, sans-serif;
    line-height: 50pt;
    text-shadow: 3px 3px 0px black;
}





.carousel-inner > .carousel-item > img {
    height: 140vh;
   
    
  }


.carousel-control-prev-icon {
    height: 25%;
    top: 33%;
    width: 60px;
}

.carousel-control-next-icon {
    height: 25%;
    top: 33%;
    width: 60px;
}

h2 {
    font-size: 35pt;
    color: white;
    text-align: left;
    font-family: "Franklin Gothic Medium", Tahoma, sans-serif;
    text-shadow: 3px 3px 0px black;
    text-align: center;

}


.row {
    display: flex;
    flex-wrap: wrap;
    column-count: 1;
  }
  

.container {
    text-align: center;
    font-size: 15pt;
    color: rgb(100, 22, 22);
    font-family: "Franklin Gothic Medium", Tahoma, sans-serif;
    text-shadow: .5px .5px 0px black;
	
}





h3 {
    font-size: 35pt;
    color: #5A1E82;
    text-align: left;
    font-family: "Franklin Gothic Medium", Tahoma, sans-serif;
    line-height: 50pt;
    text-shadow: 1px 1px 0px white;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 3rem;

}

}

@keyframes fadeOut {
	0% {
		display: block;
		height: 56vw;
		opacity: 1;
		width: 50%;
	}

	25% {
		display: block;
		height: 56vw;
		opacity: 1;
		width: 50%;
	}

	49% {
		display: block;
		height: 56vw;
		opacity: 0;
		width: 50%;
	}

	50% {
		display: none;
		height: 0;
		opacity: 0;
		width: 0;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		width: 0;
	}

	49% {
		display: none;
		height: 0;
		opacity: 0;
		width: 0;
	}

	50% {
		display: block;
		height: 56vw;
		opacity: 0;
		width: 50%;
	}

	100% {
		display: block;
		height: 56vw;
		opacity: 1;
		width: 50%;
	}
}









